@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400&display=swap');

body {
    margin: 0;
}

header {
    height: 80px;
    width: 100%;
    background-color: #BF3144 ;
    top:0;
    position: fixed;
    z-index: 2;
    
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0px 7px 0px 7px;
    font-size: 23px;
    font-family: 'Poppins', serif;
    height: 80px;
    margin: 0px;
    z-index: 2;
}

#nav:hover {
    background-color: #45567D;
} 

/*main section*/

h1, h2 {
    font-family: 'Poppins', serif;
    font-size: 40px;
    margin-bottom: -15px;
}
#welcome-section {
min-height: 100.5vh;
background-color: #28282B;
color: white;
position: relative;
z-index: -1;
margin-bottom: -10px;
}

.weclome-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_for_me {
  width: 50%;
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}

.Profession {
    font-family: 'Raleway', serif;
    font-size: 23px;
    color: #BF3144;
}

.bull {
    
    font-size: 25px;
    vertical-align: top;
}

.skills {
    font-family: 'Raleway', serif;
    font-size: 23px;
    color: #BF3144;
}

/*work*/
.work {
    background-color: #45567D;
    margin-top: -35px;
}

.witcher-project, .mozilla-project, .spider-man-project {
    width: 500px;
    height: 100%;
    background-color: #28282B;
    margin: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.project-title {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Poppins', serif;
    font-size: 23px;
    margin: auto;
    padding: 15px;
    z-index: 1;

}

a {
    display: block;
    text-decoration: none;
    list-style: none;
}

.main-element {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}



.main_h2 {
    font-family: 'Poppins', serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 25px;
}

/*footer*/

.contact-section {
    background-color: #28282B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.contact-link {
    padding: 25px;
}


/*media*/

@media (max-width: 1080px) {
    .info_for_me {
        width: 80%;
        height: 50%;
    }
}



@media (max-width: 600px) {
    .nav-link {
        font-size: 16px;
    }
    .project-img{
         width: 400px;
    }

    .witcher-project, .mozilla-project, .spider-man-project {
        width: 400px;
        padding-bottom: 15px;
    }

    .contact-img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 425px) {
    .info_for_me {
        width: 85%;
        height: 50%;
    }

    .nav-link {
        font-size: 14px;
        padding: 0px 3px 0px 3px;
    }

    h1, h2, h3 {
        font-size: 25px;
    }

    .Profession, .skills {
        font-size: 16px;
    }

    .main_h2 {
        font-size: 25px
    }

    .project-img{
        width: 300px;
   }

   .witcher-project, .mozilla-project, .spider-man-project {
       width: 300px;
       padding-bottom: 10px;
}
    .project-title {
        font-size: 16px;
    }

    .contact-img {
        width: 40px;
        height: 40px;
    }

    .contact-link {
        padding: 10px;
    }

    #welcome-section {
        min-height: 102vh;
    }
}

